.board {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 320px;
  height: 106px;
  justify-content: space-between;
}

.column {
  flex: 1;
  border: 2px solid #dbe3d0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .column:hover {
  background-color: rgba(0, 0, 0, 0.2);
} */

.row :last-child {
  border-right: none;
}

.row :first-child {
  border-left: none;
}

.board :first-child .column {
  border-top: none;
}

.board :last-child .column {
  border-bottom: none;
}

.X {
  color: #f6bf60;
}

.O {
  color: #03c878;
}

.winner {
  background-color: rgb(102, 114, 184);
  color: white;
}

.hover {
  /* background-color: rgba(0, 0, 0, 0.01); */
  color: rgba(255, 255, 255, 0.2);
}

.resetHover {
  /* visibility: hidden; */
  background-color: none !important;
  /* color: red; */
}
